@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

/* Leaflet default styles override to fit dark background */
.leaflet-container {
  background: #0b1220;
}

/* Scrollbar */
*::-webkit-scrollbar { width: 8px; height: 8px; }
*::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.2); border-radius: 999px; }
*::-webkit-scrollbar-track { background: transparent; }
